<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>
    Angular Webpack
  </title>

  <base href="/">

  <script id="server"></script>

</head>

<body>
  <div ui-view></div>
</body>

</html>
